body {
	margin: 0;

}

header {
	background: #888;
	padding: 5px 15px;

}

h1 {
	color: white;
	display: inline;
	
}

nav, ul {
	margin: 0;
	display: inline;
	
}

nav, ul, li {
	display: inline-block;
	padding: 1% 10px;
	list-style-type: none;
	float: right;

}

nav, ul, li, a {
	color: white;
	text-decoration: none;

}

img {
	width: 50%;

}
div.row {
	clear: both;

}

div.image {
	text-align: center;
	max-width: 100%;

}

div.col {
	background: #F09348;
	float: left;
	width: 31%;
	margin: .5%;
	padding: .5%;
	border-radius: 5px;
	
}

form {
	background: #888;
	text-align: center;
}

input {
	border-radius: 5px;
	border-style: none;
	padding: 5px;
	margin: 10px;
	width: 300px;

}

#submit-btn {
	background: #F09348;
	border-style: none;

}

#reset-btn {
	background: #F09348;

}

textarea {
	border-radius: 5px;
	margin: 10px;
	width: 300px;
	height: 100px;

}

footer {
	clear: both;
	background: #888;
	text-align: center;
	padding: 5px;
}